<div class="post">
    <div class="post-header">
  
      <div class="post-author"><a [routerLink]="['/user', post?.author?.id]"><h5>{{post?.author?.username}}</h5></a></div>
  
      <div class="post-date"><h5 class="txt-normal">{{post?.createdAt | date:'short'}}</h5></div>
  
      <div class="post-title">
        <h2><a [routerLink]="['/post', post?.id]">{{post?.title}}</a></h2>
      </div>
    </div>
  
    <div class="post-body">
      <div class="post-content break-newline" [innerHTML]='post?.content'></div>
    </div>
  
    <div class="post-footer"></div>
  
  </div>
  