<div class="auth-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="middlebox inputform white-bg content">
      <h2 class="margin-zero" align="center">Sign In</h2>
      
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Example: your-email@gmail.com">
        <mat-error *ngIf="getEmail()?.hasError('email') && !getEmail()?.hasError('required')">E-mail is invalid</mat-error>
        <mat-error *ngIf="getEmail()?.hasError('required')">E-mail is required</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Example: lkj3n9db,mj2">
        <mat-error *ngIf="getPassword()?.hasError('minlength')">Password is too short (minimum is 1)</mat-error>
        <mat-error *ngIf="getPassword()?.hasError('maxlength')">Password is too long (maximum is 64)</mat-error>
        <mat-error *ngIf="getPassword()?.hasError('required')">Password is required</mat-error>
      </mat-form-field>
  
      <button type="submit" mat-flat-button [disabled]="loginForm.invalid || loginForm.disabled" color="primary">Log In</button>
  
      <mat-error *ngIf="isAuthenticationFailed">Wrong e-mail and/or password</mat-error>
    </form>
  
    <div class="middlebox white-bg">
      <button mat-stroked-button (click)="googleAuth()">GOOGLE AUTH</button>
    </div>
    <div class="middlebox white-bg">
      Don't have an account? <a [routerLink]="['/auth/signup']">Sign Up</a>
    </div>
  
    <div *ngIf="authenticationService.isAuthenticating" class="loader overlay">Loading...</div>
  </div>
  