<div class="header-main">
    <div class="header-content">
  
      <div class="header-logo div-horizontal">
        <a routerLink="/recent"><h1 class="white-text">Prototype</h1></a>
      </div>
  
      <div class="header-auth div-horizontal">
        <a *ngIf="!authenticationService.authenticatedUserValue" routerLink="/auth" class="white-text">Sign In</a>
        <a *ngIf="authenticationService.authenticatedUserValue" routerLink="/profile" class="white-text">{{authenticationService.authenticatedUserValue.username}}</a>
      </div>
    </div>
  </div>
  