h1 {
    margin: 0;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
  }
  
  .div-horizontal {
    display: inline-block;
  }
  
  .header-auth {
    margin-top: auto;
    margin-bottom: auto;
  }
  