$blueColor: #1976d2;
$width-transition-menu-minimize: 500px;

h1 {
    margin: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

h2 {
  font-style: normal;
  font-weight: normal;
}

.header-content {
  display: flex;
  justify-content:space-between;
}

.div-horizontal {
  display: inline-block;
}

.center-vert {
  margin-top: auto;
  margin-bottom: auto;
}

.header-main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-c-blue {
  background-color: $blueColor;
}

.white-icon svg {
  fill:white;
}

.txt-c-white {
  color: white;
}

.menu-spacer {
  flex: 1 1 auto;
}


.menu-max {
  display: flex;
  justify-content: space-between;
}

.menu-min {
  display: none;
}

.menu {
  display: flex;
}

.menu-item {
  margin-left: 1em;
}


//when screen becomes slim 
@media screen and (max-width: $width-transition-menu-minimize) {

  .container {
    width: 100%;
  }

  .header-content {
    width: 100%;
  }

  .menu-max {
    display: none;
  }

  .menu-min {
    display: flex;
  }

}