<div>
    <div>
        Post-based social prototype. Learning/testing project. </br>
        Currently in need of refactoring and change of logic in a lot of things (id assignment, caching, tokens' life cycle and storage, overall angular structure, corrections to closely and correctly follow reactive design in angular, garbage code removal, etc.)

    </div>
    <mat-list>
        <div mat-subheader>Project includes:</div>
        <mat-list-item role="listitem">User auth system (email registration, provider registration f.e. google auth)</mat-list-item>
        <mat-list-item role="listitem">CRUD posts</mat-list-item>
        <mat-list-item role="listitem">Feed of posts</mat-list-item>
        <mat-list-item role="listitem">Subscription to users</mat-list-item>
    </mat-list>
</div>