<div>
    <div>
        Post-based social prototype (f.e. reddit). 
        - User auth system (email registration, provider registration f.e. google oauth2)
        - CRUD posts
        - Feed of posts
        - Subscription to users

    </div>
    <mat-list>
        <div mat-subheader>Used backed libs:</div>
        <mat-list-item role="listitem">1</mat-list-item>
        <mat-list-item role="listitem">1</mat-list-item>
        <mat-list-item role="listitem">1</mat-list-item>
    </mat-list>
</div>